:root {
  --blue: #4c5fd5;
  --grey: #dadbf1;
}

* {
  font-family: Arial, "Lato", sans-serif;
}

body {
  margin: 0;
}

/* header */
header {
  background-color: black;
}

nav.topbar-inner {
  display: flex;
  align-items: center;
  justify-items: center;
  color: white;
  justify-content: space-between;
  padding: 12px 6vw;
  position: sticky;
  top: 0;
  left: 0;
  font-family: Arial;
}

.topbar-logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

a.nav {
  color: white;
  line-height: 23px;
  border-left: 3px solid var(--grey);
  padding-left: 10px;
  text-decoration: none;
}

a.nav:hover {
  text-decoration: underline;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: white;
}

i#logo {
  font-size: 30px;
  padding: 0 2px;
}

.logo:hover {
    color: var(--grey);
    text-decoration: none;
}

button.request {
  padding: 4px 15px;
  border: 1px solid white;
  margin: 4px 4px;
}

button.sign-in {
  padding: 4px 25px;
  margin: 4px 4px;
}

button.sign-in:hover {
  background-color: white;
  color: var(--blue);
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  margin: 0;
}

.hero-text {
  color: black;
  font-size: 60px;
  padding: 10px 30px;
  margin: 70px 0 10px 0;
  font-weight: 510;
}

form.search-bar {
  margin-bottom: 90px;
  border: 1px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 3px;

}

input.search-bar {
  border: none;
  width: 543px;
  height: 50px;
  padding: 2vh;
  border-radius: 3px;
  outline: none;

}

i.search-icon {
  margin-right: 10px;
}

form.search-bar:hover {
  border: 1px solid var(--blue);
}

form.search-bar:hover,
i.search-icon:hover {
  color: #4c5fd5;
}


@media screen and (max-width: 745px) {
  .hero-text {
    margin: 40px 0 20px 0;
  }

  .hero-text {
    font-size: 50px;
  }

  input.search-bar {
    width: 88vw;
  }
}

/* items list */

section div.container {
  margin: 18vh auto;
}

.col-md-6 {
  border-bottom: 40px;
}

div.list-item {
  display: flex;
  justify-content: start;
}

img.item-img {
  width: 80px;
  height: 80px;
  margin-right: 2vw;
}

.list-item h4 {
  font-size: 18px;
  font-weight: 700;
}

div.item-des {
  font-size: 18px;
}

a.learn-more {
  color: #4c5fd5;
  display: block;
  margin: 3vh 0 14vh 0;
  font-size: 16px;
}

/* footer */

footer {
  color: white;
  background-color: black;
  font-size: 16px;
}

footer div.container {
  max-width: 1fr;
  padding-top: 3vh;
  padding-left: 5vh;
}

.footer-col {
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
}

h4.footer-text {
  font-size: 18px;
  font-weight: 700;
}

.footer-text {
  font-size: 14px;
  color: white;
}

.footer-text:hover {
  color: white
}